<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Coffee machine management</title>
        <link rel="stylesheet" href="../static/style.css">
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Audio Visualization | Wavesurfer.js</title>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
            <!-- <link rel="stylesheet" href="style.css"> -->
    </head>
    <body>
       
        <script src="https://unpkg.com/wavesurfer.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
        <script src="../static/script.js"></script>

    <h1>coffee machine</h1> 


    <script>
        function hideOrShowForm() {
            form = document.getElementById("addForm");
            form.style.display = (form.style.display === "flex") ? "none" : "flex"
        }
    </script>

    <div id="mainMachineSection">
        {% for id_main, machine_main in machines.items() %}
            {% if loop.first %}
            <h2>{{ machine_main.name}}</h2>
            <div id="statusInformation">
                <ul>
                    <li> <b>current status:</b> {{ machine_main.status }}</li>
                    <li> <b>location:</b> {{ machine_main.location }}</li>
                    <li> <b>water level: </b>
                        {% if machine_main.water_level == "half" %}
                        <progress value="50" max="100"></progress>
                        {% elif machine_main.water_level == "full" %}
                        <progress value="100" max="100"></progress>
                        {% elif machine_main.water_level == "empty" %}
                        <progress value="0" max="100"></progress>
                        {% endif %}
                    </li>
                </ul>
                <img src="../static/images/coffee.png">
            </div>
            {% endif %}
        {% endfor %}
    </div>

    <div id="addSection">
        <h3>Add a new machine</h3>
        <button class="add-button" onclick="hideOrShowForm()">+</button>
    </div>

    <form method="POST" action="/add" id="addForm">
        <label>Name : <input type="text" name="name" required></label><br><br>
        <label>Status : 
            <select name="status">
                <option value="working">Working</option>
                <option value="maintenance">Maintenance</option>
            </select>
        </label><br><br>
        <label>Location : <input type="text" name="location" required></label><br><br>
        <label>Water level :
            <select name="water_level">
                <option value="full">Full</option>
                <option value="half">Half</option>
                <option value="empty">Empty</option>
            </select>
        </label><br><br>
        <button type="submit" onclick="hideOrShowForm()">Add machine</button>
    </form>
   
    
    <h2>List of machines</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>Location</th>
            <th>Water level</th>
        </tr>
        {% for id, machine in machines.items() %}
        <tr>
            <td>{{ id }}</td>
            <td><a href="/machines/{{ id }}/view">{{ machine.name }}</a></td>
            <td>{{ machine.status }}</td>
            <td>{{ machine.location }}</td>
            <td>{{ machine.water_level }}</td>
            <td>
                <form method="POST" action="/machines/{{ id }}/delete" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>
